<div class="home-container">
    <div class="wrapper uk-position-center">
        <div class="sign-in">
            <div class="text">
                <h3 class="uk-text-left">Sign in</h3>
            </div>
            <div class="lock-icon uk-position-center-right">
                <fa-icon [icon]="faLock"></fa-icon>
            </div>
        </div>
        <form class="form-login" [formGroup]="loginGroup" (ngSubmit)="logIn()">
            <div class="input-field">
                <input class="uk-input" type="text" placeholder="Username" formControlName="email"/>
            </div>
            <div class="input-field">
                <input class="uk-input" type="password" placeholder="Password" formControlName="password"/>
            </div>
            <div class="btn-field">
                <button class="uk-button uk-button-default">Submit</button>
            </div>
        </form>
    </div>
</div>