.home-container {
    background-image: url('../../../assets/img/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

.wrapper {
    width: 35%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}

.sign-in {
    position: relative;
}

.sign-in h3 {
    color: rgb(255, 255, 255);
}

.input-field input,
.btn-field button {
    width: 100%;
    height: 35px;
    font-size: 14px;
    border-radius: 3px;
    line-height: initial;
    margin-bottom: 10px;
}

.btn-field button {
    background-color: rgb(222, 97, 93);
    color: rgb(255, 255, 255);
}

.ng-fa-icon {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
}