.error-page {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: rgb(245, 245, 245);
}

.error-wrapper {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.error-content {
    padding: 50px 0;
}

.error-content h2 {
    font-weight: 200;
    font-size: 150px;
    margin: 0;
    color: rgb(255, 255, 255);
    background-size: 100% 100%;
    text-shadow: 4px 4px rgb(0, 0, 0);
    color: transparent;
}

.status-container {
    position: relative;
}

.title-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(245, 245, 245);
}

.error-content .title {
    width: 280px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

.error-content .text {
    margin: 0;
}

.btn-home {
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(222, 97, 93);
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: none;
}