<div class="error-page">
    <div class="error-wrapper">
        <div class="error-content">
            <div class="status-container">
                <h2 class="status-code">OOPS!</h2>
            </div>
            <div class="title-container">
                <h4 class="title">404 - The page can`t be found</h4>
            </div>
            <div class="btn-container">
                <button class="btn btn-home" (click)="redirectToHome()">Go to homepage</button>
            </div>            
        </div>
    </div>
</div>