<div id="modal-container" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">Add Product</h2>
    <form class="form form-product" [formGroup]="productGroup" (ngSubmit)="addProduct()">
      <div class="input-field">
        <input class="uk-input" type="text" placeholder="Name" formControlName="name" />
      </div>
      <div class="input-field">
        <input class="uk-input" type="text" placeholder="Vendor" formControlName="vendor" />
      </div>
      <div class="input-field">
        <input class="uk-input" type="text" placeholder="Version" formControlName="version" />
      </div>
      <div class="btn-field">
        <button class="uk-button uk-button-default">Submit</button>
      </div>
    </form>
  </div>
</div>
