.uk-modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-field {
  margin-bottom: 10px;
}

.input-field input,
.btn-field button {
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.btn-field {
  text-align: right;
}
