<div *ngIf="this.product" class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
  <div>
    <div class="uk-card-body">
      <div class="uk-card-badge uk-label">Product ID: {{ product.id }}</div>
      <p class="uk-text-meta uk-margin-remove-bottom uk-text-uppercase">Product</p>
      <p class="uk-margin-remove-top">{{this.product?.name}}</p>
      <p class="uk-text-meta uk-margin-remove-bottom uk-text-uppercase">Vendor</p>
      <p class="uk-margin-remove-top">{{this.product?.vendor}}</p>
      <p class="uk-text-meta uk-margin-remove-bottom uk-text-uppercase">Version</p>
      <p class="uk-margin-remove-top">{{this.product?.version}}</p>
      <p class="uk-text-meta uk-margin-remove-bottom uk-text-uppercase">Created on</p>
      <p class="uk-margin-remove-top"><time>{{ this.product?.createdOn | date}}</time>
      </p>
      <p class="uk-text-meta uk-margin-remove-bottom uk-text-uppercase">Vulnerability</p>
      <p class="uk-margin-remove-top" *ngIf="this.product?.vulnerable">Vulnerable</p>
      <p class="uk-margin-remove-top" *ngIf="!this.product?.vulnerable">Not vulnerable</p>
      <p class="uk-text-meta uk-margin-remove-bottom uk-text-uppercase">Match</p>
      <p class="uk-margin-remove-top" *ngIf="this.product?.match">Exact</p>
      <p class="uk-margin-remove-top" *ngIf="!this.product?.match">Closest</p>
      <ul uk-accordion *ngIf="this.product?.cpe_list?.length !== 0">
        <li>
          <a class="uk-accordion-title uk-text-meta uk-margin-remove-bottom uk-text-uppercase" href="#">Matched CPEs</a>
          <div class="uk-accordion-content">
            <div *ngFor="let cpe of product.cpe_list">
              <p class="uk-inline">{{ cpe.cpe23Uri }}</p>
              <button (click)="this.deleteCpe(cpe.id)" class="uk-inline uk-margin-left uk-margin-bottom"
                uk-icon="trash"></button>
            </div>
          </div>
        </li>
      </ul>

      <ul uk-accordion *ngIf="this.product?.cve_list?.length !== 0">
        <li>
          <a class="uk-accordion-title uk-text-meta uk-margin-remove-bottom uk-text-uppercase" href="#">Matched CVEs</a>
          <div class="uk-accordion-content">
            <dl class="uk-description-list uk-description-list-divider">
              <dl *ngFor="let cve of product.cve_list">
                <dt>
                  {{cve.cve}}
                  <button (click)="this.deleteCve(cve.id)" uk-icon="trash"
                    class="uk-inline uk-margin-left uk-margin-small-bottom"></button>

                </dt>
                <dt class="uk-text-meta uk-text-medium">
                  {{cve.baseScore}}, {{ cve.baseSeverity }}
                </dt>
                <dd class="uk-inline uk-margin-right uk-text-meta" *ngFor="let cpe of cve.cpe_list">
                  {{ cpe.cpe23Uri }}
                </dd>
                <dd class="uk-margin-small-top">
                  {{cve.description}}
                </dd>
                <dd class="uk-text-meta">
                  Last modified on {{cve.lastModifiedDate | date }}
                </dd>
                <hr>
              </dl>
            </dl>
          </div>
        </li>
      </ul>




    </div>
  </div>
</div>
