<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <div class="uk-navbar-item">
            <form class="uk-search uk-search-navbar" [formGroup]="searchGroup" (ngSubmit)="searchProduct()">
                <span uk-search-icon></span>
                <input class="uk-search-input" type="search" placeholder="Search..." formControlName="search">
            </form>
        </div>

    </div>
</nav>

<div>
    <table class="uk-table uk-table-hover uk-table-divider" *ngIf="searchByNameOrVendor">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Vendor</th>
                <th>Version</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.vendor }}</td>
                <td>{{ product.version }}</td>
                <td>{{ product.createdOn | date }}</td>
            </tr>
        </tbody>
    </table>
    <table class="uk-table uk-table-hover uk-table-divider" *ngIf="!searchByNameOrVendor && searchByCpe">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Cpe23Uri</th>
                <th>Version</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ cpe.id }}</td>
                <td>{{ cpe.title }}</td>
                <td>{{ cpe.cpe23Uri }}</td>
                <td>{{ cpe.version }}</td>
            </tr>
        </tbody>
    </table>
    <table class="uk-table uk-table-hover uk-table-divider" *ngIf="!searchByNameOrVendor && searchByCve">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Assigner</th>
                <th>baseScore</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ cve.id }}</td>
                <td>{{ cve.cve }}</td>
                <td>{{ cve.description }}</td>
                <td>{{ cve.assigner }}</td>
                <td>{{ cve.baseScore }}</td>
            </tr>
        </tbody>
    </table>
</div>