<div class="uk-margin-medium-top">
  <p class="uk-text-secondary product-text">Your database has {{ products?.length }} products, of which
    {{ vulnerable?.length }} are
    vulnerable</p>
  <div class="js-upload" uk-form-custom>
    <input id="file" type="file" multiple #inventoryInput (change)="uploadInventory($event.target.files)">
    <button class="uk-button uk-button-default upload-button" type="button" tabindex="-1">Upload Inventory</button>
  </div>
  <div class="js-upload" uk-form-custom>
    <a class="uk-button uk-button-default invite-button" href="#modal-container-cves" uk-toggle>Add Cves</a>
    <div id="modal-container-cves" class="uk-flex-top" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Add Cves</h2>
        <form class="form form-product" [formGroup]="cveGroup" (ngSubmit)="requestCves()">
          <div class="input-field">
            <input class="uk-input" type="text" placeholder="Link" formControlName="link" />
          </div>
          <div class="btn-field">
            <button class="uk-button uk-button-default">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <button (click)="this.refreshCves()" class="uk-button uk-button-default">Refresh CVEs</button>
  <div class="uk-button-group">
    <button class="uk-button uk-button-default">Filter</button>
    <div class="uk-inline">
      <button class="uk-button uk-button-default" type="button"><span uk-icon="icon:  triangle-down"></span></button>
      <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
        <ul class="uk-nav uk-dropdown-nav">
          <li (click)="changeTab(1)"><a>All</a></li>
          <li (click)="changeTab(2)"><a>Vulnerable</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="product-table">
  <table class="uk-table uk-table-hover uk-ble-divider">
    <thead>
      <tr>
        <th>Name</th>
        <th>Vendor</th>
        <th>Version</th>
        <th>Created</th>
        <th>Vulnerable</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="uk-table-link" *ngFor="let product of products">
        <td [routerLink]="['/products', product.id]">{{ product.name }}</td>
        <td [routerLink]="['/products', product.id]">{{ product.vendor }}</td>
        <td [routerLink]="['/products', product.id]">{{ product.version }}</td>
        <td [routerLink]="['/products', product.id]">{{ product.createdOn | date }}</td>
        <td>
          <span uk-tooltip="Closest version vulnerable" *ngIf="product.vulnerable && !product.match"
            uk-icon="question"></span>
          <span uk-tooltip="Vulnerable" *ngIf="product.vulnerable && product.match" uk-icon="warning"></span>
          <span uk-tooltip="No matches found" *ngIf="!product.vulnerable && !product.match" uk-icon="question"></span>
          <span uk-tooltip="Not vulnerable" *ngIf="!product.vulnerable && product.match" uk-icon="check"></span>
        </td>
        <td>
          <button (click)="this.deleteProduct(product.id)" uk-icon="trash"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>