<div class="header-top">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active vulnerabilities-db">
          Vulnerabilities Database
        </li>
      </ul>
    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a [routerLink]="['/profile']">{{ user.username }}</a>
        </li>
        <li class="uk-active">
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
