.vulnerabilities-db {
    padding-left: 15px;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.header-top nav {
    padding: 10px 0;
    background-color: rgb(0, 0, 0);
}

.header-top nav ul li a {
    font-size: 14px;
    min-height: initial;
    text-transform: inherit;
    color: rgb(255, 255, 255);
}