<div class="user-page">
  <div class="uk-card uk-card-default uk-width-1-2@m profile-card">
    <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle user-info" uk-grid>
        <div class="uk-width-auto pic-container">
          <img class="uk-border-circle" width="40" height="40" [src]="imgUrl" *ngIf="imgUrl">
          <img class="uk-border-circle" width="40" height="40" src="../../../assets/img/profile-pic.png"
            *ngIf="!imgUrl">
        </div>
        <div class="uk-width-expand">
          <h3 class="uk-card-title uk-margin-remove-bottom">{{ loggedUser.name }}</h3>
          <p>Username: <span>{{ loggedUser.username }}</span></p>
          <p>Email: {{ loggedUser.email }}</p>
          <p class="uk-text-meta uk-margin-remove-top"><time
              datetime="2016-04-01T19:00">{{ loggedUser.joinedOn | date }}</time></p>
        </div>
      </div>
      <div class="js-upload" uk-form-custom>
        <input type="file" multiple #imageInput accept="image/*" (change)="uploadImage(imageInput)">
        <button class="uk-button uk-button-default upload-button" type="button" tabindex="-1">Upload
          Photo</button>
      </div>
      <div class="js-upload" uk-form-custom>
        <a class="uk-button uk-button-default invite-button" href="#modal-container-user" uk-toggle>Invite User</a>
        <div id="modal-container-user" class="uk-flex-top" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Invite User</h2>
            <form class="form form-product" [formGroup]="inviteGroup" (ngSubmit)="inviteUser()">
              <div class="input-field">
                <input class="uk-input" type="text" placeholder="Name" formControlName="name" />
              </div>
              <div class="input-field">
                <input class="uk-input" type="email" placeholder="Email" formControlName="email" />
              </div>
              <div class="input-field">
                <input class="uk-input" type="text" placeholder="Username" formControlName="username" />
              </div>
              <div class="input-field">
                <input class="uk-input" type="password" placeholder="Password" formControlName="password" />
              </div>
              <div class="btn-field">
                <button class="uk-button uk-button-default">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
