p {
    margin: 0;
}

.uk-modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-page {
    height: calc(100vh - 82px);
    background-color: rgb(245, 245, 245);
}

.uk-card {
    box-shadow: none;
}

.profile-card {
    width: 100%;
}

.pic-container,
.uk-card-header {
    width: 100%;
}

.pic-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.upload-button {
    background-color: rgba(0, 0, 0, 0.5);
}

.invite-button {
    margin-left: 10px;
    background-color: rgb(222, 97, 93);
}

.user-info {
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 10px;
}

.input-field input,
.btn-field button {
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.btn-field {
    text-align: right;
}