<div class="header-bottom uk-box-shadow-large">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a routerLink="products">All Products</a>
        </li>
        <li class="uk-active" href="#modal-container" uk-toggle>
          <a href="#">Add new product</a>
        </li>
        <li class="uk-active">
          <a routerLink="search">Search</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
